<div class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <h1 class="text-center">Sign Up</h1>
    <hr>
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.email_field :email, autofocus: false, class: 'form-control' %>
      <%= f.password_field :password,
            autocomplete: "off",
            help: "(#{@minimum_password_length} characters minimum)" %>
      <%= f.password_field :password_confirmation,
            autocomplete: "off",
            label_class: "required" %>

      <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-lg" %>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
