<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2 class="text-center">Change your password</h2>

    <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.password_field :password,
                             autofocus: true,
                             autocomplete: "off",
                             help: "(#{@minimum_password_length} characters minimum)"
                             label: "New password" %>
      </div>
      <%= f.password_field :password_confirmation, label: "Confirm new password", autocomplete: "off", class: "required" %>
      <%= f.submit "Change my password", class: 'btn btn-primary btn-block btn-lg' %>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
